---
import '@fontsource-variable/inter';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "LionFire USA - A modern website built with Astro" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | LionFire USA</title>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>	
  </head>
  <body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900 min-h-screen flex flex-col">
    <Navigation />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
